
body{background-color: #D5EEBB;}
hr{
    border-color: grey;
    border-style: dotted none none none;
    border-width: 4px;
    height: 0px;
    width: 50px;
}
h1{
    color: #53B8BB;
}
h3{
    color: #53B8BB;
}

.profilepic:hover{
    background-color: #53B8BB;

}